* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.booody {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to left bottom, lightblue, lightpink, lightblue);
}
.containerr {
  width: 80%;
  background-color: rgba(255, 255, 255, .2);
  text-align: center;

  border-radius: 20px;
  padding: 50px 20px;
}

.containerr h1 {
  text-shadow: 5px 5px 2px rgba(0, 0, 0, .3);
  font-size: 3rem;
}
.containerr button {
  border-color: rgba(255, 255, 255, .3);
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  border-radius: 10px;
  transition: .3s;
  width: 200px;
  font-weight: bold;
  font-size: 1.1rem;

}
.containerr button:hover {
  transform: translateY(-5px);
  background-color: royalblue;
  color: white;
  box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
}
.containerr button:focus {
  outline: none;
}
.containerr p {
  margin: 50px 0;
  font-size: 1.2rem;
}